{% extends "base.html" %}
{% block title %}Set New Password • G.R Mart{% endblock %}
{% block content %}
<h2>Set a new password</h2>
<form method="post" class="mt-3">
  {% csrf_token %}
  <label>New password</label><br>
  <input type="password" name="password1" required style="max-width:320px;width:100%;padding:8px;"><br><br>
  <label>Confirm new password</label><br>
  <input type="password" name="password2" required style="max-width:320px;width:100%;padding:8px;">
  <div class="mt-3">
    <button class="btn">Update password</button>
  </div>
</form>
{% endblock %}
